<template>
  <div class="content">
    <div class="col-8">
      <div class="col-12 big_list">
        <news-list type="articles">
        </news-list>
      </div>
    </div>
    <div class="col-4 panel">
      <div class="col-12">
        <articles-list>
        </articles-list>
      </div>
      <div class="col-12">
        <tags-list>
        </tags-list>
      </div>
    </div>
  </div>
</template>

<script>
import ArticlesList from '@/components/Articles/List'
import NewsList from '@/components/News/SmallList'
import TagsList from '@/components/Tags/SmallList'
export default {
  name: 'index',
  data () {
    return {
    }
  },
  mounted () {
  },
  components: {
    NewsList,
    ArticlesList,
    TagsList
  }
}
</script>
