<template>
  <div>
    <h2><span>Статьи</span></h2>
    <div class="list">
      <div class="block" v-for="article in articles" v-if="articles[0]">
        <div class="img">
          <div class="preview" v-bind:style="{ backgroundImage: 'url(' + article.content.rendered.match(/http[s]*\:[\w|\/]*\.[\w|\-|\_|\/]*\.[(png)|(jpg)]{1,}/i) + ')' }"></div>
        </div>
        <div class="text">
          <router-link :to="{name: 'news'}">
            <h3>{{ article.title.rendered }}</h3>
          </router-link>
          <p class="description">
            Статья ⚫ {{ article.date | date('%d.%m') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'articles-list',
  data () {
    return {
    }
  },

  computed: {
    articles () {
      return this.$store.state.articles
    },
    tags () {
      return this.$store.state.tags
    },
    current_tags () {
      return this.$store.state.current_tags
    }
  }
}
</script>
