<template>
  <div>
    <h2><span>Статьи</span></h2>
    <div class="list" v-if="articles">
      <div class="block" v-for="i in 8" v-if="articles[i - 1]">
        <router-link :to="{ name: 'post', params: { slug: articles[i - 1].slug } }" class="img">
          <div class="preview" v-bind:style="{ backgroundImage: 'url(' + getImg(articles[i - 1]) + ')' }"></div>
        </router-link>
        <div class="text">
          <router-link :to="{ name: 'post', params: { slug: articles[i - 1].slug } }">
            <h3>{{ articles[i - 1].title.rendered }}</h3>
          </router-link>
          <p class="description">
            Статья ⚫ {{ articles[i - 1].date | date('%d.%m') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'articles-list',
  data () {
    return {
    }
  },

  computed: {
    articles () {
      return this.$store.state.articles
    },
    tags () {
      return this.$store.state.tags
    },
    current_tags () {
      return this.$store.state.current_tags
    }
  },
  methods: {
    getImg (post) {
      var img = post.content.rendered.match(/http[s]*\:[\w|\/]*\.[\w|\-|\_|\/|а-яА-ЯёЁ]*\.[png|jpg|jpeg|gif]{1,}/i)
      var res = '-150x150'
      if (img && img.length > 0) {
        img = img.toString()
        var resize = img.replace(/(.png)|(.jpg)|(.jpeg)$/, res + '$1' + '$2' + '$3')
        return resize
      } else return null
    }
  }
}
</script>
