<template>
  <div class="content">
    <div class="col-8">
      <div class="col-12 big_list">
        <news-list type="events">
        </news-list>
      </div>
    </div>
    <div class="col-4 panel">
      <div class="col-12">
        <articles-list v-if="type !== 'articles'">
        </articles-list>
        <small-news v-else>
        </small-news>
      </div>
      <div class="col-12">
        <tags-list>
        </tags-list>
      </div>
    </div>
  </div>
</template>

<script>
import NewsList from '@/components/News/List'
import ArticlesList from '@/components/Articles/SmallList'
import SmallNews from '@/components/News/SmallList'
import TagsList from '@/components/Tags/SmallList'
export default {
  name: 'events',
  data () {
    return {
    }
  },
  computed: {
  },
  components: {
    NewsList,
    ArticlesList,
    SmallNews,
    TagsList
  }
}
</script>
