<template>
  <div>
    <h2><span>Метки</span></h2>
    <div class="tags">
      <router-link :to="{name: 'tag', params: { id: tag.id, slug: tag.slug }}" class="item" v-for="tag in tags" key="tag" v-if="tag">
        <b v-html="tag.name"></b>
        <span class="circle">{{ tag.count }}</span>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'tags-list',
  data () {
    return {
    }
  },
  props: ['postTags'],

  computed: {
    tags () {
      if (this.postTags && this.postTags.length > 0) {
        let tags = []
        for (let tag in this.postTags) {
          tags.push(this.$store.state.current_tags[this.postTags[tag]])
        }
        return tags
      } else return this.$store.state.tags
    }
  }
}
</script>
