<template>
  <div class="content">
    <div class="col-1"></div>
    <div class="col-10" v-if="post">
      <div class="about">
        <h1>Что такое «Нейроновости»</h1>
        <hr />
        <p v-html="post.content.rendered" v-if="post.content"></p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'index',
  data () {
    return {
      type: 'o_nas'
    }
  },
  mounted () {
    this.getAbout(this.type)
  },
  methods: {
    ...mapActions(['getAbout'])
  },
  computed: {
    post () {
      return this.$store.state.about
    }
  }
}
</script>
