<template>
  <div class="content">
    <!--about-nav>
    </about-nav-->
    <div class="col-12">
      <about-us v-if="$route.name === 'about'">
      </about-us>
    </div>
  </div>
</template>

<script>
import AboutUs from '@/components/About/AboutUs'
import AboutNav from '@/components/About/Navigation'
export default {
  name: 'index',
  data () {
    return {
    }
  },
  mounted () {
  },
  components: {
    AboutUs,
    AboutNav
  }
}
</script>
