<template>
  <div class="navigation">
    <router-link :to="{name: 'about'}">О нас</router-link>
    <router-link :to="{name: 'about_lectury'}">Нейролекторий</router-link>
    <router-link :to="{name: 'about_team'}">Команда портала</router-link>
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
  },
  computed: {
  }
}
</script>
