<template>
  <div class="content">
    <div class="col-12">
      <search>
      </search>
    </div>
    <glossary-list></glossary-list>
  </div>
</template>

<script>
import Search from '@/components/Search/Index'
import GlossaryList from '@/components/Glossary/List'
export default {
  name: 'events',
  data () {
    return {
    }
  },
  components: {
    GlossaryList,
    Search
  }
}
</script>
