<template>
  <div>
    <div class="col-4 square-list" v-for="y in y_blocks">
      <div class="block" v-for="x in x_blocks" v-if="news[x * y_axis + y] || news.length === 0">
        <router-link :to="{ name: 'post', params: { slug: news[x * y_axis + y].slug } }" v-if="news[x * y_axis + y]">
          <div class="img" v-bind:style="{ backgroundImage: 'url(' + current_images[news[x * y_axis + y].id].media_details.sizes.medium.source_url + ')' }" v-if="current_images[news[x * y_axis + y].id]">
          </div>
          <div class="img" v-bind:style="{ backgroundImage: 'url(' + getImg(news[x * y_axis + y]) + ')' }" v-else>
          </div>
          <h3>{{news[x * y_axis + y].title.rendered}}</h3>
        </router-link>
        <transition name="fade">
          <div class="clear-img" v-if="!news[x * y_axis + y]"></div>
        </transition>
        <router-link :to="{ name: 'post', params: { slug: news[x * y_axis + y].slug } }" v-if="news[x * y_axis + y]">
          <p v-if="news[x * y_axis + y]">{{ news[x * y_axis + y].excerpt.rendered | replace(/\u00a0/g, '') | replace('&\#8212;', '-') | replace('&\#171;', '«') | replace('&\#187;', '»') | replace(/<[\w|\s|\/]*>/g, '') | substring(0, 140)  }}...</p>
        </router-link>
        <transition name="fade">
          <div class="clear-text" v-if="!news[x * y_axis + y]">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'news-list',
  data () {
    return {
      dateOpt: {
        month: 'long',
        day: 'numeric'
      },
      x_axis: 3,
      y_axis: 3,
      type: 'glossary',
      params: {
        type: 'glossary',
        feed: false,
        per_page: 9
      }
    }
  },

  computed: {
    x_blocks () {
      var arr = []
      for (var i = 0; i < this.x_axis; i++) arr[i] = i
      return arr
    },
    y_blocks () {
      var arr = []
      for (var i = 0; i < this.y_axis; i++) arr[i] = i
      return arr
    },
    news () {
      if (this.type) {
        if (this.$store.state[this.type].length === 0) {
          this.getIt(this.type)
        }
        return this.$store.state[this.type]
      }
    },
    current_tags () {
      return this.$store.state.current_tags
    },
    current_images () {
      return this.$store.state.current_images
    }
  },
  created () {
    this.getIt()
  },
  methods: {
    ...mapActions(['getPosts']),
    getIt () {
      this.getPosts(this.params)
    },
    getImg (post) {
      var img = post.content.rendered.match(/http[s]*\:[\w|\/]*\.[\w|\-|\_|\/|а-яА-ЯёЁ]*\.[png|jpg|jpeg|gif|svg]{1,}/i)
      if (img && img.length > 0) {
        img = img.toString()
        return img
      } else return null
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
