@import 'general.scss';

.article {
  margin-top: 40px;
  background: $color-white;
  padding: 0 40px 40px;
  display: inline-block;
  max-width: 100vw;
  overflow-x: hidden;
  hr {
    width: 100%;
    left: -20px;
    position: relative;
    margin: 0 20px;
    background: $color-line;
    border: none;
    height: 1px;
  }
  h2 {
    margin: 0;
    font-weight: 300;
    font-size: 38px;
    text-transform: none;
    &:before {
      content: none;
    }
  }
  .text {
    padding: 0 !important;
    p {
      text-indent: 40px;
      line-height: 24px;
      text-align: justify;
      img {
        position: relative;
        left: -40px;
      }
    }
    hr {
      width: 100%;
      margin: 20px 0;
      left: 0;
    }
    img {
      max-width: 100%;
      height: auto;
      border: 4px solid $color-dark;
    }
    h3 {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    h2, h2 strong, h3 {
      font-size: 28px;
      font-weight: 300;
      margin-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative;
      &:before {
        display: inline-block;
        width: 100%;
        content: '';
        bottom: 0;
        position: absolute;
        top: auto;
        border-top: 1px solid $color-line;
      }
      h3 {
        font-size: 28px
      }
    }
  }
  iframe {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1400px) {
  .article {
    h2 {
      font-size: 2.5vw;
    }
  }
}

@media screen and (max-width: 1200px) {
  .article {
    h2 {
      font-size: 20pt;
    }
  }
}

@media screen and (max-width: 640px) {
  .article {
    position: relative;
    z-index: 3;
    width: 100vw;
    margin: 0 -20px;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,.1)
  }
}
