$font-stack: 'Roboto', sans-serif;
$font-heads: 'Roboto Condensed', sans-serif;
$font-title: 'Noto Serif', serif;

$color-text:  #141414;
$color-body:  #f3f3f3;
$color-white: #fff;
$color-link:  #1b7c89;
$color-line:  #ccc;
$color-gray:  #666;
$color-dark:  #333;
$color-image: rgba(0,0,0,.6);

$color-vk: #597da3;
$color-fb: #0145ba;
$color-tg: #0eb7fe;
$color-rs: #f1aa01;
$color-ig: #3897f0;

$content: 1200px;
