@import 'general.scss';

header {
  width: 100%;
  top: 0;
  left: 0;
  background: $color-white;
  position: relative;
  .logo {
    left: 0;
    float: left;
    width: 50%;
    position: relative;
    left: -90px;
    a {
      display: inline-block;
      position: relative;
      height: 150px;
      width: 100%;
      top: 0;
      z-index: 0;
    }
    img {
      width: 100%;
      top: 50px;
      position: absolute;
      z-index: 0;
    }
  }
  .social {
    float: right;
    position: relative;
    z-index: 1;
  }
  nav {
    width: 100%;
    display: inline-block;
    font-family: $font-heads;
    font-weight: normal;
    height: 50px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: -4px;
    z-index: 10;
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: inline-block;
      content: '';
      border-bottom: 1px solid $color-line;
      z-index: -1;
    }
    .links {
      display: inline-block;
      float: left;
    }
    .links > i {
      font-size: 24px;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
    @media screen and (min-width: 840px) {
      .links > i {
        display: none;
      }
    }
    a {
      color: $color-text;
      display: inline-block;
      height: 100%;
      line-height: 50px;
      margin: 0 20px;
      &:hover {
        color: $color-link;
        box-shadow: inset 0 -5px 0 $color-link;
      }
      &[class*="active"] {
        color: $color-link;
      }
    }
  }
  .search {
    float: right;
    width: 200px;
    height: 50px;
    display: inline-block;
    position: relative;
    input {
      position: relative;
      background: none;
      border: none;
      width: 100%;
      height: 100;
      line-height: 50px;
      font-family: $font-heads;
      color: $color-text;
      padding-left: 10px;
      font-size: 16px;
      z-index: 1;
      &:focus {
        outline: none;
      }
    }
    .help {
      color: $color-gray;
      float: left;
      position: absolute;
      top: 14px;
      left: 10px;
      transition: 0.2s;
      z-index: 0;
      @media screen and (min-width: 1200px) {
        &.small {
          font-size: 12px;
          top: -25px;
          color: $color-gray;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  header {
    .logo {
      left: 0;
      img {
        width: 400px;
        top: 55px;
        z-index: -1;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  header {
    margin-bottom: 40px;
    .search {
      width: 100%;
      height: 60px;
      box-shadow: 40px 0 0 $color-line, -40px 0 0 $color-line;
      background: $color-line;
      input {
        top: 4px;
        padding: 0 10px;
        text-align: center;
      }
      .help {
        top: 20px;
      }
    }
  }
}


@media screen and (max-width: 840px) {
  header {
    margin-bottom: 0;
    .logo {
      float: none;
      width: 100%;
      text-align: center;
      img {
        position: relative;
        max-width: 80%;
        top: 20px;
      }
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: 10;
      overflow: hidden;
      background: rgba(255,255,255,.9);
      .links {
        width: 100%;
      }
      i {
        top: 0;
        &:hover {
          cursor: pointer;
          color: $color-white;
          background: $color-text;
        }
      }
      &.expand {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 10;
      }
      a {
        display: block;
        height: 50px;
        padding-bottom: 20px;
        width: calc(100% - 100px);
        margin: 0 auto;
        font-size: 14pt;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    .search {
      margin: 0 40px;
      width: calc(100% - 80px);
      height: 60px;
      display: block;
      box-shadow: none;
      background: none;
      text-align: center;
      border-bottom: 2px solid;
      .help {
        color: $color-text;
        width: 100%;
        text-align: center;
        left: 0;
        font-size: 16px;
        &.small {
          display: none;
        }
      }
    }
    .logo {
      height: 150px;
    }
  }
}
