@import 'general.scss';

.big_list {
  display: inline-block;
  width: calc(50% - 20px);
  float: left;
  &:nth-child(1) {
    margin-right: 40px;
  }
  .block {
    margin-bottom: 20px;
    .img {
      width: 100%;
      height: 200px;
      padding: 20px;
      display: table;
    }
    p {
      width: 100%;
      overflow: hidden;
      display: inline-block;
    }
  }
}

.block {
  display: inline-block;
  float: left;
  width: 100%;
  box-shadow: 0 1px 0 $color-line;
  padding: 20px 0;
  &:nth-last-child(1) {
    box-shadow: none;
  }
  .img {
    position: relative;
    background-size: cover;
    background-position: center;
    &:before {
      content: 'КАРТИНКИ НЕТ';
      text-align: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 40%;
      position: absolute;
      font-size: 12pt;
      font-family: $font-title;
      font-weight: bold;
      z-index: -1;
    }
    .preview {
      background-size: cover;
      background-color: $color-gray;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    > div {
      vertical-align: bottom;
      display: table-cell;
    }
  }
  .clear-img {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: $color-white;
    background-image: url('../icons/load.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .clear-head {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: $color-gray;
    margin: 20px 0 10px;
  }
  .clear-text {
    margin: 0 0 20px;
    div {
      background: $color-line;
      height: 20px;
      margin: 10px 0;
    }
    :nth-child(1) { width: 70% }
    :nth-child(2) { width: 90% }
    :nth-child(3) { width: 40% }
  }
}

.list {
  .block {
    .img {
      float: left;
      width: 130px;
      height: 130px;
      margin-right: 20px;
    }
    .text {
      display: inline-block;
      width: calc(100% - 150px);
      h3 {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}

.navigation {
  margin: 40px 0 0;
  a {
    margin: 0 20px;
    padding-bottom: 10px;
    font-family: $font-heads;
    font-size: 28px;
    font-weight: 200;
    color: $color-gray;
    &.-active, &:hover {
      color: $color-link;
    }
    &.-active {
      box-shadow: 0 3px 0;
    }
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 640px) {
  .block {
    .clear-img {
      width: 100px;
      height: 100px;
      float: left;
    }
    .clear-head {
      display: none;
    }
    .clear-text {
      width: calc(100% - 120px);
      float: left;
      margin: 0;
      margin-left: 20px;
      div {
        background: $color-gray;
        height: 20px;
        margin: 10px 0;
      }
      :nth-child(1) { width: 70% }
      :nth-child(2) { width: 90% }
      :nth-child(3) {
        div {
          background: $color-line;
        }
        width: 40%;
      }
    }
  }
  .big_list {
    .block {
      .img {
          float: left;
          width: 100px;
          height: 100px;
          margin-right: 20px;
        }
      h3 {
        margin-top: 0;
      }
      p {
        margin-top: 10px;
        width: calc(100% - 120px);
        float: right;
      }
    }
  }
}
