@import 'general.scss';

.pagination {
  display: inline-block;
  width: 100%;
  border-top: 1px solid $color-line;
  height: 50px;
  margin: 0 0 40px;
  padding: 40px 0;
  bottom: 0;
  left: 0;
  > * {
    float: left;
    color: $color-gray;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }
  .circle {
    border-radius: 25px;
    &:hover {
      color: $color-white;
      background: $color-link;
      cursor: pointer;
    }
    &.active {
      background: $color-text;
      color: $color-white;
    }
  }
}
