@import 'general.scss';

.picture {
  width: 100%;
  height: 430px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  position: relative;
  .body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 40px;
    background: $color-image;
    color: $color-white;
    h5 {
      font-size: 25px;
      font-weight: normal;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .picture {
    width: calc(100% + 40px);
    margin: 0 -20px;
    height: 100vh;
    .body {
      padding: 20px;
      h5 {
        font-size: 16pt;
      }
    }
  }
}
