@import 'general.scss';

body {
  font-family: $font-stack;
  font-size: 16px;
  background: $color-body;
  color: $color-text;
  margin: 0;
  padding: 0;
  position: relative;
  @media screen and (max-width: 1400px) {
    font-size: 14px;
  }
}
html, * {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  font-family: $font-heads;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  width: auto;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 0;
    top: 12px;
    border-top: 2px solid $color-text;
    z-index: 0;
  }
  span {
    position: relative;
    background: $color-body;
    z-index: 1;
    border-right: 20px solid $color-body;
  }
}
h5, h3 {
  font-family: $font-title;
  margin: 0;
}
h3 {
  margin-top: 10px;
  font-size: 18px;
  margin: 20px 0 0;
  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
  color: $color-link;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    transition: 0.05s;
  }
}
a h3 {
  color: $color-text;
  &:hover {
    color: $color-link;
  }
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background: $color-line;
}

.uppercase {
  text-transform: uppercase;
}

.search-list {
  .block {
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
  }
  .text {
    background: $color-white;
    float: left;
    width: calc(100% - 220px);
    height: 220px;
    padding: 20px;
  }
  p {
    color: $color-gray
  }
  .img {
    width: 220px;
    height: 220px;
    float: left;
  }
}

.social {
  font-size: 19px;
  display: inline-block;
  a {
    color: $color-white;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    float: left;
    &.rs {
      background: $color-white;
      color: $color-rs;
      &:hover {
        color: $color-white;
        background: $color-rs;
      }
    }
    &.vk {
      background: $color-vk;
      &:hover {
        color: $color-vk;
        background: $color-white;
      }
    }
    &.fb {
      background: $color-fb;
      &:hover {
        color: $color-fb;
        background: $color-white;
      }
    }
    &.tg {
      background: $color-tg;
      &:hover {
        color: $color-tg;
        background: $color-white;
      }
    }
    &.ig {
      background: $color-ig;
      &:hover {
        color: $color-ig;
        background: $color-white;
      }
    }
  }
}

footer {
  width: 100%;
  display: inline-block;
  padding-bottom: 40px;
  .content {
    border-top: 4px solid;
    padding: 40px 0;
  }
  .logo {
    img {
      width: 100%;
    }
    @media screen and (max-width: 840px) {
      display: none;
    }
  }
  .list {
    a {
      display: inline-block;
      width: 100%;
      color: $color-text;
      font-size: 15px;
      font-weight: bold;
      line-height: 30px;
      &:hover {
        color: $color-link;
      }
      i {
        width: 30px;
        text-align: center;
        margin-right: 10px;
      }
    }
  }
}

.content {
  max-width: $content;
  margin: 0 auto;
  @media screen and (max-width: 1400px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 840px) {
    padding: 0;
  }
}

.news-list {
  min-height: 100vh;
}

.square-list {
  .block {
    position: relative;
    box-shadow: none;
    padding: 0;
    margin: 20px 0;
    transition: 0.5s;
    &:hover {
      box-shadow: 0 10px 40px rgba(0,0,0,.1);
      transition: 0.1s;
      cursor: pointer;
    }
  }
  .img {
    height: 220px;
    background-color: $color-white;
    &:before {
      top: 0;
      content: '';
      background-color: $color-image;
      z-index: 1;
    }
  }
  h3 {
    position: absolute;
    top: 160px;
    left: 20px;
    width: 200%;
    color: $color-white;
    z-index: 3;
    &:hover {
      color: $color-white;
    }
  }
  p {
    background: $color-white;
    padding: 20px;
    margin: 0;
    color: $color-gray;
  }
}

.description {
  color: $color-gray;
  font-size: 14px;
  margin: 0
}

.tag {
  display: inline-block;
  background: $color-link;
  font-weight: bold;
  color: $color-white;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 10px 10px 0 0;
}

.tags {
  .item {
    color: $color-text;
    height: 40px;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    transition: 0.4s;
    b {
      float: left;
      text-transform: capitalize;
    }
    .circle {
      display: inline-block;
      float: left;
      width: 30px;
      height: 30px;
      text-align: center;
      background: $color-text;
      color: $color-white;
      border-radius: 50%;
      font-weight: bold;
      font-size: 12px;
      line-height: 30px;
      margin: 5px 10px;
    }
    &:nth-child(n+4) {
      opacity: .8
    }
    &:nth-child(n+7) {
      opacity: .6
    }
    &:hover {
      transition: 0.1s;
      color: $color-link;
      opacity: 1 !important;
      .circle {
        background: $color-link;
      }
    }
  }
}

.panel {
  h2 {
    &:before {
      left: 0
    }
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.input-search {
  margin: 0;
  font-family: $font-heads;
  color: $color-link;
  font-size: 48px;
  font-weight: 200;
  > div {
    display: inline-block;
    position: relative;
    float: left;
    min-height: 1px;
  }
  input {
    font-family: inherit;
    color: $color-link;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    border: none;
    border-bottom: 4px solid;
    width: 100%;
    height: 90px;
    &:focus {
      outline: none;
    }
  }
  .help {
    float: left;
    position: absolute;
    height: 90px;
    line-height: 90px;
    top: 40px;
    left: 0;
    transition: 0.2s;
    &.small {
      font-size: 24px;
      top: 0;
      color: $color-gray;
    }
  }
}

.about {
  background: $color-white;
  padding: 20px 40px;
  margin-top: -20px;
  h1 {
    font-weight: 200;
    font-size: 48px;
    margin: 20px 0;
  }
}
.navigation {
  margin: 40px 0 0;
  a {
    margin: 0 20px;
    padding-bottom: 10px;
    font-family: $font-heads;
    font-size: 28px;
    font-weight: 200;
    color: $color-gray;
    &.-active, &:hover {
      color: $color-link;
    }
    &.-active {
      box-shadow: 0 3px 0;
    }
  }
}

[class*="col-"] {
  float: left;
  padding: 20px;
  [class^="col"],  {
    padding: 40px 0 10px;
    @media screen and (max-width: 640px) {
      padding: 30px 0 10px;
    }
    [class^="col"] {
      padding: 0;
    }
    h2 {
      &:before {
        left: 0;
      }
    }
  }
}
.col-12 {
  width: 100%;
  @media screen and (max-width: 640px) {
    padding-top: 0px !important;
  }
  .col-6 {
    width: calc(50% - 20px);
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
}
.col-10 {
  width: calc(100% / 6 * 5);
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
.col-8 {
  width: calc(100% / 3 * 2);
  @media screen and (max-width: 1000px) {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  @media screen and (max-width: 840px) {
    width: 100%;
    padding-top: 0;
  }
}
.col-6 {
  width: 50%;
  &:nth-last-child(1) {
    margin-left: 40px;
    @media screen and (max-width: 640px) {
      margin-left: 0;
    }
  }
}
.col-3 {
  width: 25%;
  @media screen and (max-width: 840px) {
    width: 50%;
  }
}
.col-2 {
  width: calc(100% / 6);
  @media screen and (max-width: 1000px) {
    display: none;
  }
}
.col-1 {
  width: calc(100% / 12);
  @media screen and (max-width: 1000px) {
    display: none;
  }
}
.col-4 {
  width: calc(100% / 3);
  h2 {
    text-align: center;
    span {
      border-left: 20px solid $color-body;
    }
  }
}
