<template>
  <div class="content">
    <div class="col-8">
      <!-- Картинка дня -->
      <transition name="fade">
      <div class="col-12">
        <picture-day>
        </picture-day>
      </div>
      </transition>
      <!-- Список новостей -->
      <div class="col-12 big_list">
        <div class="col-12">
          <router-link class="col-12"
                       :to="{ name: 'news' }">
            <h2>
              <span>Новости</span>
            </h2>
          </router-link>
          <news-list type="news" :feed="false">
          </news-list>
        </div>
      </div>
    </div>
    <!-- Колонка статей -->
    <div class="col-4 panel">
      <articles-list>
      </articles-list>
    </div>
    <!-- Колонка тегов -->
    <div class="col-4 panel">
      <tags-list>
      </tags-list>
    </div>
  </div>
</template>

<script>
import NewsList from '@/components/News/List'
import ArticlesList from '@/components/Articles/SmallList'
import TagsList from '@/components/Tags/SmallList'
import PictureDay from '@/components/News/PictureDay'
export default {
  name: 'index',
  data () {
    return {
    }
  },
  components: {
    NewsList,
    ArticlesList,
    TagsList,
    PictureDay
  }
}
</script>
