<template>
  <div class="input-search">
  </div>
</template>

<script>
export default {
  name: 'input-search',
  data () {
    return {
      search: ''
    }
  },

  methods: {
    update () {
      this.$router.push({name: 'search_list', params: { 'text': this.search }})
      this.$emit('update')
      if (this.search.length > 0) this.$emit('value', this.search)
    }
  }
}
</script>

<style>
</style>
