<template>
  <div class="content">
    <search-list>
    </search-list>
  </div>
</template>

<script>
import SearchList from '@/components/Search/List'
export default {
  name: 'events',
  props: ['params'],
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  components: {
    SearchList
  }
}
</script>
