<template>
  <div>
    <div class="input-search col-12">
      <div class="col-2">
      </div>
      <div class="col-8">
        <input type="text" v-model="params.search" @keyup.enter="update()">
        </input>
        <span class="help" v-bind:class="{small: params.search}">
          <span v-if="$route.params.text">{{$route.params.text}}</span>
          <span v-else>Поиск</span>
        </span>
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="col-12" v-show="$route.name !== 'glossary'">
      <div class="col-1"></div>
      <div class="col-10 search-list">
        <div class="block" v-for="post in news" key="post.id" v-if="post">
          <router-link :to="{ name: 'post', params: { slug: post.slug } }">
            <div class="img">
              <div class="preview" v-if="current_images[post.id] && current_images[post.id].media_details && current_images[post.id].media_details.sizes && current_images[post.id].media_details.sizes.medium"
                v-bind:style="{ backgroundImage: 'url(' + current_images[post.id].media_details.sizes.medium.source_url + ')' }">
              </div>
              <div class="preview" v-bind:style="{ backgroundImage: 'url(' + getImg(post) + ')' }" v-else></div>
            </div>
          </router-link>
          <div class="text">
            <router-link :to="{ name: 'post', params: { slug: post.slug } }">
              <h3 v-html="post.title.rendered"></h3>
            </router-link>

            <p>
              {{ post.excerpt.rendered | replace(/\u00a0/g, '') | replace('&\#8212;', '-') | replace('&\#171;', '«') | replace('&\#187;', '»') | substring(3, 143)  }}...
            </p>
            <!-- TODO: set autor on backend -->
            <p class="description" v-if="post.content">
              <div>
                <router-link v-for="(tag, index) in post.tags" :key="index" v-if="current_tags[tag]" :to="{name: 'tag', params: { id: current_tags[tag].id } }" class="tag">
                  <span v-html="current_tags[tag].name"></span>
                </router-link>
              </div>
            </p>
          </div>

        </div>
        <div v-else v-for="i in 10">
          <div class="clear-img"></div>

          <div class="clear-head"></div>

          <div class="clear-text">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-12" id="pagination">
        <div class="pagination">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'search-list',
  data () {
    return {
    }
  },

  computed: {
    ...mapState({
      news: state => state.search,
      pagination: state => state.pagination.search,
      current_tags: state => state.current_tags,
      current_images: state => state.current_images
    }),
    params () {
      return {
        tags: this.$route.name === 'tag' ? this.$route.params.id : null,
        page: 1,
        per_page: 10,
        type: 'search',
        search: this.$route.name === 'search' ? this.$route.params.text : null,
        categories: this.$route.name === 'glossary' ? '12' : null
      }
    },
    search () {
      this.getPosts(this.params)
      return this.$route.params.text
    }
  },
  mounted () {
    this.getIt()
  },
  watch: {
    '$route.params.page' (newPage, oldPage) {
      this.params.page = newPage
      this.getIt()
    },
    '$route.params.id' (newName, oldName) {
      this.getIt()
    },
    '$route.name' (newName, oldName) {
      if (newName === 'tag') {
        this.getIt()
      }
    }
  },

  methods: {
    getImg (post) {
      if (post) {
        let img = post.content.rendered.match(/http[s]*\:[\w|\/|\.]*\.[\w|\-|\_|\/|\.|а-яА-ЯёЁ]*\.[png|jpg|jpeg|gif]{1,}/i)
        if (img && img.length > 0) {
          img = img.toString()
          return img
        } else return null
      } else return null
    },
    getAutor (post) {
      if (post && post.content.length > 0) {
        let text = post.content.rendered.replace(/<\/*\w*>/g, '')
        let author = text.match(/(Текс[т]*: )([а-яА-ЯёЁ|\ ]*)/g)
        if (author && author.length > 0) {
          author = author.toString()
          author = author.replace(/(Текс[т]*:)\s*/g, '')
          return author
        } else return null
      }
    },
    getDate (date) {
      if (date) {
        let time = new Date(date)
        return time.toLocaleString('ru', this.dateOpt)
      } else return null
     // return time.getFullYear()
    },
    update () {
      this.$router.push({name: 'search_list', params: { 'text': this.params.search }})
      this.$store.state.search = {}
      this.getIt()
    },
    ...mapActions(['getPosts']),
    getIt () {
      this.getPosts(this.params)
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
