.article {
  margin-top: 40px;
  background: #fff;
  padding: 0 40px 40px;
  display: inline-block;
  max-width: 100vw;
  overflow-x: hidden; }
  .article hr {
    width: 100%;
    left: -20px;
    position: relative;
    margin: 0 20px;
    background: #ccc;
    border: none;
    height: 1px; }
  .article h2 {
    margin: 0;
    font-weight: 300;
    font-size: 38px;
    text-transform: none; }
    .article h2:before {
      content: none; }
  .article .text {
    padding: 0 !important; }
    .article .text p {
      text-indent: 40px;
      line-height: 24px;
      text-align: justify; }
      .article .text p img {
        position: relative;
        left: -40px; }
    .article .text hr {
      width: 100%;
      margin: 20px 0;
      left: 0; }
    .article .text img {
      max-width: 100%;
      height: auto;
      border: 4px solid #333; }
    .article .text h3 {
      position: relative;
      display: inline-block;
      width: 100%; }
    .article .text h2, .article .text h2 strong, .article .text h3 {
      font-size: 28px;
      font-weight: 300;
      margin-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative; }
      .article .text h2:before, .article .text h2 strong:before, .article .text h3:before {
        display: inline-block;
        width: 100%;
        content: '';
        bottom: 0;
        position: absolute;
        top: auto;
        border-top: 1px solid #ccc; }
      .article .text h2 h3, .article .text h2 strong h3, .article .text h3 h3 {
        font-size: 28px; }
  .article iframe {
    max-width: 100%;
    height: auto; }

@media screen and (max-width: 1400px) {
  .article h2 {
    font-size: 2.5vw; } }
@media screen and (max-width: 1200px) {
  .article h2 {
    font-size: 20pt; } }
@media screen and (max-width: 640px) {
  .article {
    position: relative;
    z-index: 3;
    width: 100vw;
    margin: 0 -20px;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); } }

/*# sourceMappingURL=article.css.map */
