header {
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  position: relative; }
  header .logo {
    left: 0;
    float: left;
    width: 50%;
    position: relative;
    left: -90px; }
    header .logo a {
      display: inline-block;
      position: relative;
      height: 150px;
      width: 100%;
      top: 0;
      z-index: 0; }
    header .logo img {
      width: 100%;
      top: 50px;
      position: absolute;
      z-index: 0; }
  header .social {
    float: right;
    position: relative;
    z-index: 1; }
  header nav {
    width: 100%;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    height: 50px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: -4px;
    z-index: 10; }
    header nav:before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: inline-block;
      content: '';
      border-bottom: 1px solid #ccc;
      z-index: -1; }
    header nav .links {
      display: inline-block;
      float: left; }
    header nav .links > i {
      font-size: 24px;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center; }
    @media screen and (min-width: 840px) {
      header nav .links > i {
        display: none; } }
    header nav a {
      color: #141414;
      display: inline-block;
      height: 100%;
      line-height: 50px;
      margin: 0 20px; }
      header nav a:hover {
        color: #1b7c89;
        box-shadow: inset 0 -5px 0 #1b7c89; }
      header nav a[class*="active"] {
        color: #1b7c89; }
  header .search {
    float: right;
    width: 200px;
    height: 50px;
    display: inline-block;
    position: relative; }
    header .search input {
      position: relative;
      background: none;
      border: none;
      width: 100%;
      height: 100;
      line-height: 50px;
      font-family: "Roboto Condensed", sans-serif;
      color: #141414;
      padding-left: 10px;
      font-size: 16px;
      z-index: 1; }
      header .search input:focus {
        outline: none; }
    header .search .help {
      color: #666;
      float: left;
      position: absolute;
      top: 14px;
      left: 10px;
      transition: 0.2s;
      z-index: 0; }
      @media screen and (min-width: 1200px) {
        header .search .help.small {
          font-size: 12px;
          top: -25px;
          color: #666; } }

@media screen and (max-width: 1400px) {
  header .logo {
    left: 0; }
    header .logo img {
      width: 400px;
      top: 55px;
      z-index: -1; } }
@media screen and (max-width: 1200px) {
  header {
    margin-bottom: 40px; }
    header .search {
      width: 100%;
      height: 60px;
      box-shadow: 40px 0 0 #ccc, -40px 0 0 #ccc;
      background: #ccc; }
      header .search input {
        top: 4px;
        padding: 0 10px;
        text-align: center; }
      header .search .help {
        top: 20px; } }
@media screen and (max-width: 840px) {
  header {
    margin-bottom: 0; }
    header .logo {
      float: none;
      width: 100%;
      text-align: center; }
      header .logo img {
        position: relative;
        max-width: 80%;
        top: 20px; }
    header nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: 10;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.9); }
      header nav .links {
        width: 100%; }
      header nav i {
        top: 0; }
        header nav i:hover {
          cursor: pointer;
          color: #fff;
          background: #141414; }
      header nav.expand {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 10; }
      header nav a {
        display: block;
        height: 50px;
        padding-bottom: 20px;
        width: calc(100% - 100px);
        margin: 0 auto;
        font-size: 14pt;
        text-align: center; } }
@media screen and (max-width: 640px) {
  header .search {
    margin: 0 40px;
    width: calc(100% - 80px);
    height: 60px;
    display: block;
    box-shadow: none;
    background: none;
    text-align: center;
    border-bottom: 2px solid; }
    header .search .help {
      color: #141414;
      width: 100%;
      text-align: center;
      left: 0;
      font-size: 16px; }
      header .search .help.small {
        display: none; }
  header .logo {
    height: 150px; } }

/*# sourceMappingURL=header.css.map */
