@charset "UTF-8";
.big_list {
  display: inline-block;
  width: calc(50% - 20px);
  float: left; }
  .big_list:nth-child(1) {
    margin-right: 40px; }
  .big_list .block {
    margin-bottom: 20px; }
    .big_list .block .img {
      width: 100%;
      height: 200px;
      padding: 20px;
      display: table; }
    .big_list .block p {
      width: 100%;
      overflow: hidden;
      display: inline-block; }

.block {
  display: inline-block;
  float: left;
  width: 100%;
  box-shadow: 0 1px 0 #ccc;
  padding: 20px 0; }
  .block:nth-last-child(1) {
    box-shadow: none; }
  .block .img {
    position: relative;
    background-size: cover;
    background-position: center; }
    .block .img:before {
      content: 'КАРТИНКИ НЕТ';
      text-align: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 40%;
      position: absolute;
      font-size: 12pt;
      font-family: "Noto Serif", serif;
      font-weight: bold;
      z-index: -1; }
    .block .img .preview {
      background-size: cover;
      background-color: #666;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .block .img > div {
      vertical-align: bottom;
      display: table-cell; }
  .block .clear-img {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #fff;
    background-image: url("../icons/load.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .block .clear-head {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #666;
    margin: 20px 0 10px; }
  .block .clear-text {
    margin: 0 0 20px; }
    .block .clear-text div {
      background: #ccc;
      height: 20px;
      margin: 10px 0; }
    .block .clear-text :nth-child(1) {
      width: 70%; }
    .block .clear-text :nth-child(2) {
      width: 90%; }
    .block .clear-text :nth-child(3) {
      width: 40%; }

.list .block .img {
  float: left;
  width: 130px;
  height: 130px;
  margin-right: 20px; }
.list .block .text {
  display: inline-block;
  width: calc(100% - 150px); }
  .list .block .text h3 {
    margin-top: 0;
    margin-bottom: 20px; }

.navigation {
  margin: 40px 0 0; }
  .navigation a {
    margin: 0 20px;
    padding-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
    font-weight: 200;
    color: #666; }
    .navigation a.-active, .navigation a:hover {
      color: #1b7c89; }
    .navigation a.-active {
      box-shadow: 0 3px 0; }

@media screen and (max-width: 640px) {
  .block .clear-img {
    width: 100px;
    height: 100px;
    float: left; }
  .block .clear-head {
    display: none; }
  .block .clear-text {
    width: calc(100% - 120px);
    float: left;
    margin: 0;
    margin-left: 20px; }
    .block .clear-text div {
      background: #666;
      height: 20px;
      margin: 10px 0; }
    .block .clear-text :nth-child(1) {
      width: 70%; }
    .block .clear-text :nth-child(2) {
      width: 90%; }
    .block .clear-text :nth-child(3) {
      width: 40%; }
      .block .clear-text :nth-child(3) div {
        background: #ccc; }

  .big_list .block .img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px; }
  .big_list .block h3 {
    margin-top: 0; }
  .big_list .block p {
    margin-top: 10px;
    width: calc(100% - 120px);
    float: right; } }

/*# sourceMappingURL=news.css.map */
