.pagination {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ccc;
  height: 50px;
  margin: 0 0 40px;
  padding: 40px 0;
  bottom: 0;
  left: 0; }
  .pagination > * {
    float: left;
    color: #666;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px; }
  .pagination .circle {
    border-radius: 25px; }
    .pagination .circle:hover {
      color: #fff;
      background: #1b7c89;
      cursor: pointer; }
    .pagination .circle.active {
      background: #141414;
      color: #fff; }

/*# sourceMappingURL=pagination.css.map */
