.picture {
  width: 100%;
  height: 430px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  position: relative; }
  .picture .body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff; }
    .picture .body h5 {
      font-size: 25px;
      font-weight: normal; }
    .picture .body p {
      margin-bottom: 0; }

@media screen and (max-width: 640px) {
  .picture {
    width: calc(100% + 40px);
    margin: 0 -20px;
    height: 100vh; }
    .picture .body {
      padding: 20px; }
      .picture .body h5 {
        font-size: 16pt; } }

/*# sourceMappingURL=picture.css.map */
