body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #f3f3f3;
  color: #141414;
  margin: 0;
  padding: 0;
  position: relative; }
  @media screen and (max-width: 1400px) {
    body {
      font-size: 14px; } }

html, * {
  box-sizing: border-box; }

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", sans-serif; }

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  width: auto;
  z-index: 1; }
  h2:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 0;
    top: 12px;
    border-top: 2px solid #141414;
    z-index: 0; }
  h2 span {
    position: relative;
    background: #f3f3f3;
    z-index: 1;
    border-right: 20px solid #f3f3f3; }

h5, h3 {
  font-family: "Noto Serif", serif;
  margin: 0; }

h3 {
  margin-top: 10px;
  font-size: 18px;
  margin: 20px 0 0; }
  @media screen and (max-width: 1400px) {
    h3 {
      font-size: 16px; } }

a {
  text-decoration: none;
  color: #1b7c89;
  transition: 0.2s;
  cursor: pointer; }
  a:hover {
    transition: 0.05s; }

a h3 {
  color: #141414; }
  a h3:hover {
    color: #1b7c89; }

hr {
  width: 100%;
  border: none;
  height: 1px;
  background: #ccc; }

.uppercase {
  text-transform: uppercase; }

.search-list .block {
  padding: 0;
  margin: 20px 0;
  box-shadow: none; }
.search-list .text {
  background: #fff;
  float: left;
  width: calc(100% - 220px);
  height: 220px;
  padding: 20px; }
.search-list p {
  color: #666; }
.search-list .img {
  width: 220px;
  height: 220px;
  float: left; }

.social {
  font-size: 19px;
  display: inline-block; }
  .social a {
    color: #fff;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    float: left; }
    .social a.rs {
      background: #fff;
      color: #f1aa01; }
      .social a.rs:hover {
        color: #fff;
        background: #f1aa01; }
    .social a.vk {
      background: #597da3; }
      .social a.vk:hover {
        color: #597da3;
        background: #fff; }
    .social a.fb {
      background: #0145ba; }
      .social a.fb:hover {
        color: #0145ba;
        background: #fff; }
    .social a.tg {
      background: #0eb7fe; }
      .social a.tg:hover {
        color: #0eb7fe;
        background: #fff; }
    .social a.ig {
      background: #3897f0; }
      .social a.ig:hover {
        color: #3897f0;
        background: #fff; }

footer {
  width: 100%;
  display: inline-block;
  padding-bottom: 40px; }
  footer .content {
    border-top: 4px solid;
    padding: 40px 0; }
  footer .logo img {
    width: 100%; }
  @media screen and (max-width: 840px) {
    footer .logo {
      display: none; } }
  footer .list a {
    display: inline-block;
    width: 100%;
    color: #141414;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px; }
    footer .list a:hover {
      color: #1b7c89; }
    footer .list a i {
      width: 30px;
      text-align: center;
      margin-right: 10px; }

.content {
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1400px) {
    .content {
      padding: 0 20px; } }
  @media screen and (max-width: 840px) {
    .content {
      padding: 0; } }

.news-list {
  min-height: 100vh; }

.square-list .block {
  position: relative;
  box-shadow: none;
  padding: 0;
  margin: 20px 0;
  transition: 0.5s; }
  .square-list .block:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
    cursor: pointer; }
.square-list .img {
  height: 220px;
  background-color: #fff; }
  .square-list .img:before {
    top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; }
.square-list h3 {
  position: absolute;
  top: 160px;
  left: 20px;
  width: 200%;
  color: #fff;
  z-index: 3; }
  .square-list h3:hover {
    color: #fff; }
.square-list p {
  background: #fff;
  padding: 20px;
  margin: 0;
  color: #666; }

.description {
  color: #666;
  font-size: 14px;
  margin: 0; }

.tag {
  display: inline-block;
  background: #1b7c89;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 10px 10px 0 0; }

.tags .item {
  color: #141414;
  height: 40px;
  width: 100%;
  display: inline-block;
  line-height: 40px;
  transition: 0.4s; }
  .tags .item b {
    float: left;
    text-transform: capitalize; }
  .tags .item .circle {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #141414;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    margin: 5px 10px; }
  .tags .item:nth-child(n+4) {
    opacity: 0.8; }
  .tags .item:nth-child(n+7) {
    opacity: 0.6; }
  .tags .item:hover {
    transition: 0.1s;
    color: #1b7c89;
    opacity: 1 !important; }
    .tags .item:hover .circle {
      background: #1b7c89; }

.panel h2:before {
  left: 0; }
@media screen and (max-width: 1000px) {
  .panel {
    display: none; } }

.input-search {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #1b7c89;
  font-size: 48px;
  font-weight: 200; }
  .input-search > div {
    display: inline-block;
    position: relative;
    float: left;
    min-height: 1px; }
  .input-search input {
    font-family: inherit;
    color: #1b7c89;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    border: none;
    border-bottom: 4px solid;
    width: 100%;
    height: 90px; }
    .input-search input:focus {
      outline: none; }
  .input-search .help {
    float: left;
    position: absolute;
    height: 90px;
    line-height: 90px;
    top: 40px;
    left: 0;
    transition: 0.2s; }
    .input-search .help.small {
      font-size: 24px;
      top: 0;
      color: #666; }

.about {
  background: #fff;
  padding: 20px 40px;
  margin-top: -20px; }
  .about h1 {
    font-weight: 200;
    font-size: 48px;
    margin: 20px 0; }

.navigation {
  margin: 40px 0 0; }
  .navigation a {
    margin: 0 20px;
    padding-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
    font-weight: 200;
    color: #666; }
    .navigation a.-active, .navigation a:hover {
      color: #1b7c89; }
    .navigation a.-active {
      box-shadow: 0 3px 0; }

[class*="col-"] {
  float: left;
  padding: 20px; }
  [class*="col-"] [class^="col"] {
    padding: 40px 0 10px; }
    @media screen and (max-width: 640px) {
      [class*="col-"] [class^="col"] {
        padding: 30px 0 10px; } }
    [class*="col-"] [class^="col"] [class^="col"] {
      padding: 0; }
    [class*="col-"] [class^="col"] h2:before {
      left: 0; }

.col-12 {
  width: 100%; }
  @media screen and (max-width: 640px) {
    .col-12 {
      padding-top: 0px !important; } }
  .col-12 .col-6 {
    width: calc(50% - 20px); }
    @media screen and (max-width: 640px) {
      .col-12 .col-6 {
        width: 100%; } }

.col-10 {
  width: calc(100% / 6 * 5); }
  @media screen and (max-width: 1000px) {
    .col-10 {
      width: 100%; } }

.col-8 {
  width: calc(100% / 3 * 2); }
  @media screen and (max-width: 1000px) {
    .col-8 {
      width: 80%;
      margin: 0 auto;
      float: none; } }
  @media screen and (max-width: 840px) {
    .col-8 {
      width: 100%;
      padding-top: 0; } }

.col-6 {
  width: 50%; }
  .col-6:nth-last-child(1) {
    margin-left: 40px; }
    @media screen and (max-width: 640px) {
      .col-6:nth-last-child(1) {
        margin-left: 0; } }

.col-3 {
  width: 25%; }
  @media screen and (max-width: 840px) {
    .col-3 {
      width: 50%; } }

.col-2 {
  width: calc(100% / 6); }
  @media screen and (max-width: 1000px) {
    .col-2 {
      display: none; } }

.col-1 {
  width: calc(100% / 12); }
  @media screen and (max-width: 1000px) {
    .col-1 {
      display: none; } }

.col-4 {
  width: calc(100% / 3); }
  .col-4 h2 {
    text-align: center; }
    .col-4 h2 span {
      border-left: 20px solid #f3f3f3; }

/*# sourceMappingURL=style.css.map */
