<template>
  <div class="article">
    <div class="col-12" v-if="post">
      <h2 v-bind:id="post.title.rendered" v-if="post.title">{{post.title.rendered}}</h2>
    </div>
    <hr />
    <div class="col-12 text" v-if="post">
      <div v-if="post.content" v-html="text" ref="article"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'post_body',
  data () {
    return {
    }
  },
  props: ['post'],
  computed: {
    text () {
      return this.post.content.rendered
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>
