<template>
  <div class="content">
    <div class="col-8">
      <!-- Пост -->
      <post-body :post="post"></post-body>
    </div>
    <div class="col-4 panel">
      <!-- Колонка статей -->
      <div class="col-12" v-if="post && post.categories && post.categories[0] && (post.categories[0] === 15 || post.categories[0] === 12)">
        <post-links :post="post">
        </post-links>
      </div>
      <!-- Колонка тегов -->
      <div class="col-12" v-if="$route.name === 'post' && post.tags && post.tags.lenght > 0">
        <tags-list :postTags="post.tags">
        </tags-list>
      </div>
      <div class="col-12">
        <linked-list :slugs="slugs" v-if="post && post.categories && post.categories[0] && (post.categories[0] === 15 || post.categories[0] === 12) && slugs.lenght > 0"></linked-list>
        <articles-list v-else></articles-list>
      </div>
      <div class="col-12" v-if="$route.name !== 'post'">
        <tags-list>
        </tags-list>
      </div>
    </div>
  </div>
</template>

<script>
import ArticlesList from '@/components/Articles/SmallList'
import LinkedList from '@/components/News/LinkedList'
import PostBody from '@/components/Post/Body'
import PostLinks from '@/components/Post/Links'
import TagsList from '@/components/Tags/SmallList'
import { mapActions } from 'vuex'
export default {
  name: 'post',
  data () {
    return {
      slugs: ''
    }
  },

  computed: {
    post () {
      let i = 0
      let post = {}
      let types = ['news', 'events', 'articles', 'glossary']
      for (var type in types) {
        for (var q in this.$store.state[types[type]]) {
          if (this.$store.state[types[type]][q].slug === this.$route.params.slug) {
            i++
            post = this.$store.state[types[type]][q]
          }
        }
      }
      if (this.$store.state.post.list.slug === this.$route.params.slug && i !== 0) {
        i++
        post = this.$store.state.post.list
      }
      if (i === 0) {
        this.getArticle(this.$route.params.slug)
        post = this.$store.state.post.list
      }
      let text = ''

      if (post.content && post.content.rendered && (!post.titles || !post.links)) {
        text = post.content.rendered.replace(/strong/g, 'b')
        text = text.replace(/(\&nbsp;)|(style="text-align: justify;")|(<\/*em>)|(<[\/]*strong>)|(<[\w|\s]*>\s*<\/[\w|\s]*>)/g, '')

        // Create array from titles

        var titles = text.match(/(<h[0-9][\s]*>)([\w|а-яА-ЯёЁ|\«|\»|\"|\'|\-|\_|\ |\,|\.]+)/gi)

        // Remove tags from titles

        for (var w in titles) {
          titles[w] = titles[w].replace(/(<h[0-9])([\w|\s]*[>])([\w|а-яА-ЯёЁ|\s]*)/gi, '$3')
        }

        // Create ids in headers from text

        text = text.replace(/(<h[0-9])([\w|\s]*[>])([\w|а-яА-ЯёЁ|\«|\»|\"|\'|\-|\_|\ |\,|\.]+)/gi, '$1\ id=\"$3\"$2$3')

        // Search links to connected pages

        var links = text.match(/(neuronovosti.ru)[\/](?!wp-content)[\w|\-|\_|\:|\/]*/gi)
        for (var link in links) {
          links[link] = links[link].replace(/(neuronovosti.ru)[\/]([\w|\-]*)[\"|\/]/gi, '$2')
        }
        if (links !== null) {
          links = links.join()
          this.slugs = links
        }

        post.titles = titles
        post.content.rendered = text
      }

      return post
    }
  },
  components: {
    ArticlesList,
    TagsList,
    PostLinks,
    LinkedList,
    PostBody
  },
  mounted () {
  },
  methods: {
    ...mapActions(['getArticle', 'getLinked'])
  }
}
</script>
