<template>
  <div class="head-links">
    <h2><span>Содержание</span></h2>
    <a v-bind:href="'#' + post.title.rendered"><b>{{post.title.rendered}}</b></a>
    <a v-for="h in post.titles" v-bind:href="'#' + h" ><i class="fa fa-circle"></i><b>{{h}}</b></a>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'post_links',
  data () {
    return {
    }
  },
  props: ['post'],

  computed: {
  },
  mounted () {
  },
  methods: {
    ...mapActions(['getArticle'])
  }
}
</script>
