<template>
  <footer>
    <div class="content">
      <div class="logo col-6">
        <router-link :to="{name: 'home'}">
        </router-link>
        <img v-bind:src="'/static/images/logo.svg'" />
      </div>
      <div class="col-3">
        <div class="list uppercase">
          <router-link :to="{name: 'news'}">Новости</router-link>
          <router-link :to="{name: 'articles'}">Статьи и интервью</router-link>
          <router-link :to="{name: 'events'}">Мероприятия</router-link>
          <router-link :to="{name: 'point'}">Точка на карте</router-link>
          <router-link :to="{name: 'glossary'}">Глоссарий</router-link>
          <router-link :to="{name: 'about'}">О портале</router-link>
        </div>
      </div>
      <div class="col-3">
        <div class="list">
          <a class="rs" href="/feed"><i class="fa fa-rss"></i>RSS</a>
          <a class="fb" href="https://www.facebook.com/neuronovosti"><i class="fa fa-facebook"></i>facebook</a>
          <a class="tg" href="https://t.me/neuronovosti"><i class="fa fa-telegram"></i>telegram</a>
          <a class="vk" href="https://vk.com/neuronovosti"><i class="fa fa-vk"></i>вконтакте</a>
          <a class="ig" href="https://www.instagram.com/neuronovosti/"><i class="fa fa-instagram"></i>instagram</a>
          <a class="ig" href="#"><i class="fa fa-envelope"></i>Обратная связь</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'bottom'
}
</script>
