<template>
  <header>
    <div class="content">
      <div class="social">
        <a class="rs" href="/feed"><i class="fa fa-rss"></i></a>
        <a class="fb" href="https://www.facebook.com/neuronovosti"><i class="fa fa-facebook"></i></a>
        <a class="tg" href="https://t.me/neuronovosti"><i class="fa fa-telegram"></i></a>
        <a class="vk" href="https://vk.com/neuronovosti"><i class="fa fa-vk"></i></a>
        <a class="ig" href="https://www.instagram.com/neuronovosti/"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="logo">
        <router-link :to="{name: 'home'}">
        <img v-bind:src="'/static/images/logo.svg'" />
        </router-link>
      </div>
    </div>
    <nav v-bind:class="{'expand': isExpand }">
      <div class="content">
        <div class="links" @click="isExpand = !isExpand">
          <i class="fa fa-bars"></i>
          <router-link :to="{name: 'news'}">Новости
          </router-link>
          <router-link :to="{name: 'articles'}">Статьи и интервью
          </router-link>
          <router-link :to="{name: 'events'}">Мероприятия
          </router-link>
          <router-link :to="{name: 'point'}">Точка на карте
          </router-link>
          <router-link :to="{name: 'glossary'}">Глоссарий
          </router-link>
          <router-link :to="{name: 'about'}">О портале
          </router-link>
        </div>
        <div class="search"
             @click="isExpand = isExpand"
             @keyup.enter="$router.push({name: 'search_list', params: { 'text': params.search }}); getIt(); isExpand = !isExpand"
             v-show="$route.name !== 'search_list'">
          <input type="text" v-model="params.search"/>
          <span class="help" v-bind:class="{'small': params.search.length > 0 }">
            <i class="fa fa-search"></i> <span>Поиск</span>
          </span>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import '../../../static/styles/header.css'
import { mapActions } from 'vuex'
export default {
  name: 'navbar',
  data () {
    return {
      type: 'search',
      isExpand: false,
      params: {
        feed: true,
        search: ''
      }
    }
  },
  methods: {
    ...mapActions(['getPosts']),
    getIt () {
      this.$store.state.search = {}
      this.getPosts([this.type, this.params])
    }
  }
}
</script>
