<template>
  <div class="content">
    <div class="col-8">
      <div class="col-12 big_list">
        <news-list :type="type"
                   :feed="feed">
        </news-list>
      </div>
    </div>
    <div class="col-4 panel">
      <div class="col-12">
        <small-news v-if="type !== 'news'">
        </small-news>
        <articles-list v-else>
        </articles-list>
      </div>
      <div class="col-12">
        <tags-list>
        </tags-list>
      </div>
    </div>
  </div>
</template>

<script>
import NewsList from '@/components/News/List'
import ArticlesList from '@/components/Articles/SmallList'
import SmallNews from '@/components/News/SmallList'
import TagsList from '@/components/Tags/SmallList'
export default {
  name: 'index',
  computed: {
    type () {
      let space = this.$route.name.indexOf('_')
      if (space > 0) return this.$route.name.slice(0, space)
      else return this.$route.name
    },
    feed () {
      if (this.$route.params.page) return false
      return true
    }
  },
  components: {
    NewsList,
    ArticlesList,
    SmallNews,
    TagsList
  }
}
</script>
