<template>
  <div>
    <h2><span>Связанные статьи</span></h2>
    <div class="list">
      <div class="block" v-for="i in 10" v-if="news[i - 1]">
        <router-link :to="{ name: 'post', params: { slug: news[i - 1].slug } }" class="img">
          <div class="preview" v-bind:style="{ backgroundImage: 'url(' + getImg(news[i - 1]) + ')' }"></div>
        </router-link>
        <div class="text">
          <router-link :to="{ name: 'post', params: { slug: news[i - 1].slug } }">
            <h3>{{ news[i - 1].title.rendered }}</h3>
          </router-link>
          <p class="description">
            Новость ⚫ {{ news[i - 1].date | date('%d.%m') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'linked-news',
  data () {
    return {
    }
  },
  props: ['slugs'],

  computed: {
    news () {
      return this.$store.state.linked
    },
    tags () {
      return this.$store.state.tags
    },
    current_tags () {
      return this.$store.state.current_tags
    }
  },
  mounted () {
    this.getLinked(this.slugs)
  },
  methods: {
    ...mapActions(['getLinked']),
    getImg (post) {
      var img = post.content.rendered.match(/http[s]*\:[\w|\/]*\.[\w|\-|\_|\/|а-яА-ЯёЁ]*\.[png|jpg|jpeg|gif]{1,}/i)
      var res = '-150x150'
      if (img && img.length > 0) {
        img = img.toString()
        var resize = img.replace(/(.png)|(.jpg)|(.jpeg)$/, res + '$1' + '$2' + '$3')
        return resize
      } else return null
    }
  }
}
</script>
