<template>
  <div>
    <transition name="fade">
    <div class="col-12" v-if="!loading">

      <!--Desktop version-->

      <div class="col-6 news-list"
           v-for="q in 2"
           v-on:scroll="check()"
           v-if="!isMobile || q === 1">
        <div class="block"
             v-for="(post, index) in news"
             v-if="((index + 1 + q) % 2 == 0) || isMobile && q === 1"
             v-bind:class="{'mobile': isMobile }">
          <router-link :to="{ name: 'post', params: { slug: post.slug } }">
            <div class="img" v-if="size !== 'movile'">
              <div v-if="size === 'desktop'">
                <div class="tag" v-for="tag in post.tags" v-if="current_tags[tag]">
                  <span v-html="current_tags[tag].name"></span>
                </div>
              </div>
              <div class="preview"
                   v-if="current_images[post.id] &&
                         current_images[post.id].media_details &&
                         current_images[post.id].media_details.sizes && current_images[post.id].media_details.sizes.medium &&
                         !isMobile"
                         v-bind:style="{ backgroundImage: 'url(' + current_images[post.id].media_details.sizes.medium.source_url + ')' }">
              </div>
              <div class="preview"
                   v-else
                   v-bind:style="{ backgroundImage: 'url(' + getImg(post) + ')' }">
              </div>
            </div>
            <div class="img" v-else>
              <div class="preview" v-bind:style="{ backgroundImage: 'url(' + getSmallImg(post) + ')' }">
              </div>
            </div>
          </router-link>
          <router-link :to="{ name: 'post', params: { slug: post.slug } }">
            <h3>{{ post.title.rendered }}</h3>
          </router-link>

          <p v-if="post && !isMobile">
            {{ post.excerpt.rendered | replace(/\u00a0/g, '') | replace('&\#8212;', '-') | replace('&\#171;', '«') | replace('&\#187;', '»') | substring(3, 143)  }}...
          </p>
          <!-- TODO: set autor on backend -->
          <p class="description">
            <span v-if="getAutor(post) && type !== 'events'">{{ getAutor(post) }} ⚫</span> {{ getDate(post.date) }}
          </p>

        </div>
      </div>
    </div>
    <div class="col-12" v-if="loading">

      <!--Desktop version-->

      <div class="col-6 news-list"
           v-for="q in 2"
           v-on:scroll="check()"
           v-if="!isMobile || q === 1">
        <div class="block"
             v-for="i in 5"
             v-bind:class="{'mobile': isMobile }">

          <div class="clear-img"></div>

          <div class="clear-head"></div>

          <div class="clear-text">
            <div></div>
            <div></div>
            <div></div>
          </div>

        </div>
      </div>
    </div>
    </transition>
    <div class="col-12"
         id="pagination">
      <div class="pagination">
        <router-link :to="{ name: `${type}_page`, params: { page: '1' } }"
                     class="circle"
                     v-if="params.page > 2"
                     v-text="1" />
        <div v-if="params.page > 3">...</div>
        <router-link :to="{ name: `${type}_page`, params: { page: Number(params.page) - 1 } }"
                     class="circle"
                     v-if="params.page - 1 > 0"
                     v-text="Number(params.page) - 1" />
        <router-link :to="{ name: `${type}_page`, params: { page: Number(params.page) } }"
                     class="circle active"
                     v-text="Number(params.page)" />
        <router-link :to="{ name: `${type}_page`, params: { page: Number(params.page) + 1 } }"
                     class="circle"
                     v-if="params.page < (pagination / 10 >> 0) - 1"
                     v-text="Number(params.page) + 1" />
        <div v-if="pagination / 10 > 3 && params.page < (pagination / 10 >> 0) - 2">...</div>
        <router-link :to="{ name: `${type}_page`, params: { page: pagination / 10 >> 0 } }"
                     class="circle"
                     v-if="params.page < (pagination / 10 >> 0)"
                     v-text="pagination / 10 >> 0" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'news-list',
  data () {
    return {
      dateOpt: {
        month: 'long',
        day: 'numeric'
      },
      isMobile: false,
      size: 'desktop',
      params: {
        type: null,
        page: null,
        per_page: 10
      }
    }
  },

  props: ['type'],

  computed: {
    loading () {
      return this.$store.state.loading
    },
    pagination () {
      return this.$store.state.pagination[this.type]
    },
    news () {
      return this.$store.state[this.type]
    },
    current_tags () {
      return this.$store.state.current_tags
    },
    current_images () {
      return this.$store.state.current_images
    },
    page () {
      if (this.$route.params.page) {
        return this.$route.params.page
      }
      return 1
    }
  },
  mounted () {
    this.params.page = this.page
    this.params.type = this.type
    this.width()
    if (this.$store.state[this.type].length === 0) {
      this.getIt()
    }
  },
  watch: {
    '$route.params.page' (newPage, oldPage) {
      this.params.page = newPage
      this.getIt()
    },
    '$route.name' (newPage, oldPage) {
      this.type = newPage
      this.params.type = newPage
      if (this.$store.state[newPage] && this.$store.state[newPage].length === 0) {
        this.getIt()
      }
    }
  },
  methods: {
    width () {
      if (document.body.clientWidth > 1000) {
        this.size = 'desktop'
        this.isMobile = false
      } else if (document.body.clientWidth > 640) {
        this.size = 'tablet'
        this.isMobile = false
      } else {
        this.size = 'mobile'
        this.isMobile = true
      }
    },
    getImg (post) {
      let img = post.content.rendered.match(/http[s]*\:[\w|\/]*\.[\w|\-|\_|\/|а-яА-ЯёЁ]*\.[png|jpg|jpeg|gif]{1,}/i)
      if (img && img.length > 0) {
        img = img.toString()
        return img
      } else return null
    },
    getAutor (post) {
      let text = post.content.rendered.replace(/<\/*\w*>/g, '')
      let author = text.match(/(Текс[т]*: )([а-яА-ЯёЁ|\ ]*)/g)
      if (author && author.length > 0) {
        author = author.toString()
        author = author.replace(/(Текс[т]*:)\s*/g, '')
        return author
      } else return null
    },
    getDate (date) {
      let time = new Date(date)
      return time.toLocaleString('ru', this.dateOpt)
     // return time.getFullYear()
    },
    ...mapActions(['getPage', 'getPosts']),
    getIt () {
      this.getPosts(this.params)
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
