<template>
  <div>
    <router-link class="col-12"
                 :to="{ name: 'news' }"
                 v-if="!feed">
      <h2>
        <span>Новости</span>
      </h2>
    </router-link>
    <transition name="fade">
    <div class="col-12" v-if="!loading">

      <!--Desktop version-->

      <div class="col-6 news-list"
           v-for="q in 2"
           v-on:scroll="check()"
           v-if="!isMobile || q === 1">
        <div class="block"
             v-for="(post, index) in news"
             v-if="((index + 1 + q) % 2 == 0) || isMobile && q === 1"
             v-bind:class="{'mobile': isMobile }">
          <router-link :to="{ name: 'post', params: { slug: post.slug } }">
            <div class="img" v-if="size !== 'movile'">
              <div v-if="size === 'desktop'">
                <div class="tag" v-for="tag in post.tags" v-if="current_tags[tag]">
                  <span v-html="current_tags[tag].name"></span>
                </div>
              </div>
              <div class="preview"
                   v-if="current_images[post.id] &&
                         current_images[post.id].media_details &&
                         current_images[post.id].media_details.sizes && current_images[post.id].media_details.sizes.medium &&
                         !isMobile"
                         v-bind:style="{ backgroundImage: 'url(' + current_images[post.id].media_details.sizes.medium.source_url + ')' }">
              </div>
              <div class="preview"
                   v-else
                   v-bind:style="{ backgroundImage: 'url(' + getImg(post) + ')' }">
              </div>
            </div>
            <div class="img" v-else>
              <div class="preview" v-bind:style="{ backgroundImage: 'url(' + getSmallImg(post) + ')' }">
              </div>
            </div>
          </router-link>

          <p v-if="post && !isMobile">
            {{ post.excerpt.rendered | replace(/\u00a0/g, '') | replace('&\#8212;', '-') | replace('&\#171;', '«') | replace('&\#187;', '»') | substring(3, 143)  }}...
          </p>
          <!-- TODO: set autor on backend -->
          <p class="description">
            <span v-if="getAutor(post) && type !== 'events'">{{ getAutor(post) }} ⚫</span> {{ getDate(post.date) }}
          </p>

        </div>
      </div>
    </div>
    <div class="col-12" v-if="loading">

      <!--Desktop version-->

      <div class="col-6 news-list"
           v-for="q in 2"
           v-on:scroll="check()"
           v-if="!isMobile || q === 1">
        <div class="block"
             v-for="i in 10"
             v-bind:class="{'mobile': isMobile }">

          <transition name="fade">
            <div class="clear-img"></div>
          </transition>

          <transition name="fade">
            <div class="clear-head"></div>
          </transition>

          <transition name="fade">
            <div class="clear-text">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </transition>

        </div>
      </div>
    </div>
    </transition>
    <div class="col-12"
         id="pagination"
         v-if="feed">
      <div class="pagination">
        <router-link :to="{ name: 'news_page', params: { page: '1' } }"
                     class="circle"
                     v-if="params.page > 2">
          1
        </router-link>
        <div v-if="params.page > 3">...</div>
        <router-link :to="{ name: 'news_page', params: { page: params.page - 1 } }"
                     class="circle"
                     v-if="params.page - 1 > 0">
          {{ params.page - 1 }}
        </router-link>
        <router-link :to="{ name: 'news_page', params: { page: params.page } }"
                     class="circle active" >
          {{ params.page }}
        </router-link>
        <router-link :to="{ name: 'news_page', params: { page: params.page + 1 } }"
                     class="circle"
                     v-if="params.page < (pagination / 10 >> 0) - 1">
          {{ params.page + 1 }}
        </router-link>
        <div v-if="pagination / 10 > 3 && params.page < (pagination / 10 >> 0) - 2">...</div>
        <router-link :to="{ name: 'news_page', params: { page: pagination / 10 >> 0 } }"
                     class="circle"
                     v-if="params.page < (pagination / 10 >> 0)">
          {{ pagination / 10 >> 0 }}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'news-list',
  data () {
    return {
      dateOpt: {
        month: 'long',
        day: 'numeric'
      },
      isMobile: false,
      size: 'desktop'
    }
  },

  props: ['type', 'feed'],

  computed: {
    loading () {
      return this.$store.state.loading
    },
    params () {
      return {
        feed: this.feed,
        type: this.type,
        page: this.page,
        per_page: 10
      }
    },
    // TODO: fix blocks
    blocks () {
      let arr = []
      for (let w = 0; w < this.page * this.params.per_page; w++) {
        arr.push(w)
      }
      return arr
    },
    pagination () {
      return this.$store.state.pagination[this.type]
    },
    isNews () {
      if (!this.isPage) {
        window.addEventListener('scroll', this.check)
        return true
      } else {
        window.removeEventListener('scroll', this.check)
        return false
      }
    },
    isPage () {
      if (this.$route.name.includes('_page')) {
        window.removeEventListener('scroll', this.check)
        return true
      } else {
        return false
      }
    },
    news () {
      return this.$store.state[this.type]
    },
    current_tags () {
      return this.$store.state.current_tags
    },
    current_images () {
      return this.$store.state.current_images
    },
    page () {
      if (this.$route.params.page) {
        return this.$route.params.page
      }
      return 1
    }
  },
  mounted () {
    if (this.$store.state[this.type].length === 0) {
      this.getIt()
    }
    if (this.feed) {
      window.addEventListener('scroll', this.check)
    } else {
      window.removeEventListener('scroll', this.check)
      window.removeEventListener('resize', this.width)
    }
    window.addEventListener('resize', this.width)
    this.width()
  },
  destroyed () {
    window.removeEventListener('scroll', this.check)
  },

  methods: {
    width () {
      if (document.body.clientWidth > 1000) {
        this.size = 'desktop'
        this.isMobile = false
      } else if (document.body.clientWidth > 640) {
        this.size = 'tablet'
        this.isMobile = false
      } else {
        this.size = 'mobile'
        this.isMobile = true
      }
    },
    check () {
      let position = window.pageYOffset
      let el = document.getElementById('pagination')
      let height = window.innerHeight
      let col = position - el.offsetTop + height - 350
      if (col > 0 && !this.loading) {
        this.params.page++
        this.getIt()
      }
    },
    getImg (post) {
      let img = post.content.rendered.match(/http[s]*\:[\w|\/]*\.[\w|\-|\_|\/|а-яА-ЯёЁ]*\.[png|jpg|jpeg|gif]{1,}/i)
      if (img && img.length > 0) {
        img = img.toString()
        return img
      } else return null
    },
    getAutor (post) {
      let text = post.content.rendered.replace(/<\/*\w*>/g, '')
      let author = text.match(/(Текс[т]*: )([а-яА-ЯёЁ|\ ]*)/g)
      if (author && author.length > 0) {
        author = author.toString()
        author = author.replace(/(Текс[т]*:)\s*/g, '')
        return author
      } else return null
    },
    getDate (date) {
      let time = new Date(date)
      return time.toLocaleString('ru', this.dateOpt)
     // return time.getFullYear()
    },
    ...mapActions(['getPage', 'getPosts']),
    getIt () {
      this.getPosts(this.params)
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
