<template>
  <div>
    <div class="picture" v-if="dayPicture.image[0]" v-bind:style="{ backgroundImage: 'url(' + dayPicture.image[0].media_details.sizes.full.source_url+ ')' }">
      <!-- TODO: link to tags list -->
      <router-link :to="{name: 'news'}" class="tag">Картинка дня</router-link>
      <!-- TODO: link to current news -->
      <router-link :to="{ name: 'post', params: { slug: dayPicture.body.slug } }" class="body">
        <h5>{{ dayPicture.body.title.rendered }}</h5>
        <p v-html="picture_description" v-if="picture_description">
        </p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'news-list',
  methods: {
    ...mapActions(['getDayPicture'])
  },
  mounted () {
    this.getDayPicture()
  },
  data () {
    return {
    }
  },

  computed: {
    dayPicture () {
      return this.$store.state.day_picture
    },
    current_tags () {
      return this.$store.state.current_tags
    },
    // cut last sentence with social links
    picture_description () {
      var str = this.dayPicture.body.excerpt.rendered
      var num = str.indexOf('Читайте материалы')
      return str.substring(0, num)
    }
  }
}
</script>
