<template>
  <div id="app">
    <navbar></navbar>
      <router-view></router-view>
    <bottom></bottom>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Navbar from '@/components/Template/Navbar'
import Bottom from '@/components/Template/Bottom'
export default {
  name: 'app',
  components: {
    Navbar,
    Bottom
  },
  methods: {
    ...mapActions(['getPosts'])
  }
}
</script>
